<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 800">Danh mục sản phẩm</h4>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- table -->
            <div class="col-sm-12">
                <div class="card" style="background-color: #343a40">
                    <div class="card-body p-0">
                        <table class="table table-by-me table-hover font-weight-light" style="width:100%; color: lightgray">
                            <thead>
                                <tr style="color: #f3f5f6; font-weight: 900!important">
                                    <th style="width: 10%">ID</th>
                                    <th style="width: 50%">Tên danh mục</th>
                                    <th style="width: 25%">Ngày tạo</th>
                                    <th style="width: 15%">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dataSource">
                                    <td>{{item.ID}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.CreateDate | date:'dd/MM/yyy hh:mm:ss'}}</td>
                                    <!--class="badge bg-danger"-->
                                    <td>{{item.Status | statusFilter}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--pagination-->
            <div class="col-sm-12" style=" padding-top: 0px; margin-top: -10px">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="GetAllData(page)"></pager-directive>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <!-- forms -->
        <div class="col-sm-9">
            <!-- general form elements disabled -->
            <form role="form" class="form-by-me">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">ID<span class="required-field">*</span></label>
                        <input class="col-sm-9 form-control" type="text" placeholder="99">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Tên<span class="required-field">*</span></label>
                        <input class="col-sm-9 form-control" type="text" placeholder="Đồ ăn...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Tên không dấu<span class="required-field">*</span></label>
                        <input class="col-sm-9 form-control" type="text" placeholder="Do an...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light" style="padding-top: 0.5rem">Mô tả</label>
                        <textarea class="col-sm-9 form-control" rows="3" placeholder="Những đồ ăn ngon..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light" style="padding-top: 0.5rem">Danh mục cha</label>
                        <select class="col-sm-8 form-control">
                            <option>Cha thứ nhất</option>
                            <option>Cha thứ hai</option>
                            <option>Cha thứ ba</option>
                        </select>
                        <div class="col-sm-1" style="padding-right: 0px">
                            <input class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Thứ tự hiển thị</label>
                        <input class="col-sm-9 form-control" type="text" placeholder="1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Hình ảnh</label>
                        <div class="col-sm-9" style="padding-right:0px; padding-left:0px">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Chọn tệp</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Hiển thị ở trang chủ</label>
                        <select class="col-sm-8 form-control">
                            <option>Yes</option>
                            <option>Nâu</option>
                        </select>
                        <div class="col-sm-1" style="padding-right: 0px">
                            <input class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Từ khóa meta</label>
                        <input class="col-sm-9 form-control" type="text" placeholder="key...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Mô tả meta</label>
                        <input class="col-sm-9 form-control" type="text" placeholder="key là 1 cái chìa khóa...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Mô tả meta</label>
                        <textarea class="col-sm-9 form-control" rows="2" placeholder="Meta là..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Trạng thái<span class="required-field">*</span></label>
                        <select class="col-sm-8 form-control">
                            <option>Khóa</option>
                            <option>Kích hoạt</option>
                        </select>
                        <div class="col-sm-1" style="padding-right: 0px">
                            <input class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Ngày tạo</label>
                        <input class="col-sm-9 form-control" type="datetime" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Người tạo</label>
                        <input class="col-sm-9 form-control" type="text" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Ngày sửa</label>
                        <input class="col-sm-9 form-control" type="datetime" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 font-weight-light">Người sửa</label>
                        <input class="col-sm-9 form-control" type="text" readonly>
                    </div>
                </div>
            </form>
            <!-- buttons -->
            <div style="margin-left: 13px; margin-right:7.5px; margin-bottom: 10px">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-outline-dark button-master-by-me">Thêm mới</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-outline-dark button-master-by-me">Sửa</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-outline-dark button-master-by-me">Tải xuống excel</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-outline-dark button-master-by-me">Tải lên</button>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</section>
<!-- /.content -->